<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {#<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>#}
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i>Member<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/member-create">Create Member</a>
                    </li>
                    <li>
                        <a href="/member-list">Member List</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-list fa-fw"></i>Task<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/task/create">Create</a>
                    </li>

                    <li>
                        <a href="/task/list/today">Today's List</a>
                    </li>

                    <li>
                        <a href="/task/list"> All List</a>
                    </li>



                    <!--<li>
                        <a href="/task/list/complete">Complete Task</a>
                    </li>

                    <li>
                        <a href="/task/list/pending">Pending Task</a>
                    </li>-->
                </ul>

            </li>
            <li>
                <a href="/task/profile"><i class="fa fa-users fa-fw"></i> Change Password</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->