{% extends "layout.twig" %}

{% block title %}Student{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h4>Student List</h4>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>

                {% for student in students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.roll }}</td>
                        <td>{{ student.age }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
