{% if msg is not empty %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ msg.badlink.0 }}</strong>
        <strong>{{ msg.failed.0 }}</strong>
    </div>
{% endif %}
{% if cre_message is not null and cre_message is not empty %}
    {% if(cre_message['create_message']) %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Assign! </strong> {{ cre_message['create_message'][0] }}
        </div>
    {% endif %}
{% endif %}

