{% extends 'layout.twig' %}
{% block title %} Task{% endblock %}
{% block contant_wrapper %}

        <div class="row">
                <div class="panel panel-default" style="width: 450px; margin: 30px"">
                    <div class="panel-heading">
                        <h3 class="panel-title">Task Assign</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/insert" method="post" >
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Title" name="title" type="text" required autofocus>
                                </div>
                                <div class="form-group">
                                    <select name="status" class="form-control" id="dept" style="color: #999999" required>
                                        <option value="">Select Status</option>
                                        <option value="1">Edit</option>
                                        <option value="2">Redesign</option>
                                        <option value="3">New</option>

                                    </select>
                                </div>


                                <div class="form-group" >

                                    <textarea name="description" class="form-control" id="desc" style="width: 350px; height: 100px;color: #999999">Description</textarea>
                                </div>
                                <!--
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}