{% extends 'layout.twig' %}
{% block title %} Task{% endblock %}
{% block contant_wrapper %}

    <div class="container">

        <div class="row">
                <div style="width: 450px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Employee</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/insert" method="post" >
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Title" name="name" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <select name="designation_id" class="form-control" id="dept" style="color: #999999" required>
                                        <option value="">Select Designation</option>
                                        <?php
                                    foreach($designation as $data){?>
                                        <option value='<?php echo $data['id']?>'><?php echo $data['name']?></option>
                                        <?php } ?>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <select name="department_id" class="form-control" id="dept" style="color: #999999" required>
                                        <option value="">Select Department</option>
                                        <?php
                                    foreach($department as $data){?>
                                        <option value='<?php echo $data['id']?>'><?php echo $data['name']?></option>
                                        <?php } ?>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <select name="work_time" class="form-control" id="wtype" style="color: #999999" required>
                                        <option value="">Select Work type</option>
                                        <option value="day">Day</option>
                                        <option value="night">Night</option>
                                        <option value="full">Full</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="number" name="salary" class="form-control" id="salary" required placeholder="Salary">
                                </div>

                                <div class="form-group" >

                                    <textarea name="description" class="form-control" id="desc" style="width: 350px; height: 100px;color: #999999">Description</textarea>
                                </div>
                                <!--
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}