{% extends 'layout.twig' %}
{% block title %} Task{% endblock %}


{% block nav %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Task managament System</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i>{{ session.user.0.first_name }}</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links   -->
    {% if session.user.0.role== 'Admin' %}
        {% include 'side_nav.twig' %}
    {% endif %}
{% endblock %}
{% block contant_wrapper %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <br><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Task</h3>
                </div>
                <div class="panel-body">
                    <form class="" role="form" action="/task/insert" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label for="title">Task Title</label>
                                        <input type="text" name="title" class="form-control" id="title"
                                               placeholder="Title" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="member">Assign To</label>
                                        <select class="form-control" name="member_id" id="member" required>
                                            <option value="NULL">Choose member</option>
                                            {% for members in mem %}
                                                <option value="{{ members.id }}">{{ members.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="status">Task Type</label>
                                    <select class="form-control" name="status" id="status" required>
                                        <option value="NULL">Choose Type</option>
                                        <option value="1" >Edit</option>
                                        <option value="2">Redesign</option>
                                        <option value="3">New</option>
                                    </select>
                                </div>
                            </div>


                            <input class="" placeholder="" name="user_id" value="{{ session.user.0.id }}" type="hidden">


                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="client_id">Client ID</label>
                                    <input type="text" name="client_id" class="form-control" id="client_id"
                                           placeholder="Input Client ID" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="date">Submission Date</label>
                                    <input type="date" name="date" class="form-control" id="date"
                                           placeholder="Input Client ID" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="">Description</label>
                                    <textarea name="description" class="form-control" id="summernote"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="attached">Attached</label>
                                <input type="file" name="attached" class="form-control" id="attached" multiple >
                            </div>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}